  body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
  }
  nav {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--very-light-pink);
  }
  .menu {
    display: none;
  }
  .logo {
    width: 50px;
  }
  .navbar-left ul,
  .navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
  }
  .navbar-left {
    display: flex;
  }
  .navbar-left ul {
    margin-left: 12px;
  }
  .navbar-left ul li a,
  .navbar-right ul li a {
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
  }
  p{
    padding-right: 3%;
  }
  section .cuadro{
    width: 500px;
    height: 500px;
    background-color: papayawhip;
    border: 1px solid black;
    position: initial;
    display: inline-flex;
    align-items: center;
    bottom: 50px;
    right: 200px;
  }
  footer #Pie{
   text-align: center;
    opacity: 0.7;
    font-size: x-small;
  }